/* ************************* 
FONTS CONFIGURATION
************************* */

@font-face {
 font-family: "Luciole-Bold";
 src: url("assets/fonts/Luciole/Luciole-Bold.ttf") format("ttf"),     
}

@font-face {
 font-family: "Luciole-BoldItalic";
 src: url("assets/fonts/Luciole/Luciole-BoldItalic.ttf") format("ttf"),     
}

@font-face {
 font-family: "Luciole-Italic";
 src: url("assets/fonts/Luciole/Luciole-Italic.ttf") format("ttf"),     
}

@font-face {
 font-family: "Luciole-Regular";
 src: url("assets/fonts/Luciole/Luciole-Regular.ttf") format("ttf"),     
}

@font-face {
 font-family: "Montserrat-Regular";
 src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf"),     
}

@font-face {
 font-family: "Montserrat-SemiBold";
 src: url("assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf"),     
}
